<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GFT list</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>


</head>
<body >


    <input id="item_name" type="text" name="item"/>
    <button id="addItem" type="button">Add</button>

    <div id="itemlist"></div>


<script src="/bower_components/requirejs/require.js" data-main="js/require.config.js"></script>
</body>
</html>